<div class="main_header">
  <div class="left_header">
    <div class="main_room_name">
      <%= @room.name %><%# @room = Room.find(params[:room_id])room_idを取得=選択したroomsテーブルのidのレコード全てを取得している %>
    </div>
  </div>
  <div class="right_header">
    <div class="chat_end">
      <%= link_to "チャットを終了する", room_path(@room)  , method: :delete %>
    </div>
  </div>
</div>

<div class="main_content">
  <%= render partial: 'message', collection: @messages %>
  <%# collectionオプションで@messagesに含まれる要素の数(今回はレコードの数)だけ部分テンプレート_message.html.erbを呼び出している %>
</div>

<%= form_with model: [@room, @message], class: 'comment_form', local: true do |f| %>
<%# メッセージのルーティングがルームにネストされているため model: [@room,@message]という記述%>
  <div class="form_input">
    <%= f.text_field :content, class: 'form_message', placeholder: 'type a message' %>
    <label class="form_image">
      <span class="image_file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form_submit' %>
<% end %>